@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    transition: .3s ease;

}

:root{
    --PrimaryColor: rgb(27, 27, 27);
    --HoverColor: rgb(46, 46, 46);
    --Black: black;
    --light-grey: rgb(102, 102, 102);
    --light-green: rgb(61, 255, 71);
    --text-color: white;
    --bgColor: rgb(224, 224, 224); 
    --greyText: rgb(197, 197, 197);
    --input-color: rgb(218, 218, 218);

    --biggestFintSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;

}

html{
    font-size: 90%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.icon{
    font-size: var(--h2FontSize)
}

img{
    width: 100%;
    height: auto;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--input-color);
    padding: .8rem 1rem;
    color: var(--text-color);

}

.btn .icon{
    margin-left: .5rem;

}


.btn:hover{
background: var(--light-green);
color: var(--PrimaryColor);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;

}

.container{
    position: relative;
    width: 95vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bgColor);
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px var(--greyText);


}
